<?xml version="1.0" encoding="utf-8"?>

<config>
	<system>
		<name>Walter</name>
		<version>0.1</version>
		
		<timing>
			<max_fps>30</max_fps>
			<max_frame_skips>5</max_frame_skips>
			<frame_period>1000</frame_period>
		</timing>
		
		<region>
			<units>metric</units>
		</region>
		
		<crash_on_error>true</crash_on_error>
		<enable_logging>true</enable_logging> <!-- Logging is resource intensive, taking from 1 - 10 ms on average -->
	</system>
	
	<arduino>
		<timeout>2000</timeout>
		<data_rate>9600</data_rate>
		
		<min_digital_pin>0</min_digital_pin>
		<max_digital_pin>15</max_digital_pin>
		
		<min_analogue_pin>0</min_analogue_pin>
		<max_analogue_pin>11</max_analogue_pin>
		
		<serial_timeout>1000</serial_timeout>
	</arduino>
	
	<files>
		<object_database>config/database.xml</object_database>
		<taglist>config/tagList.txt</taglist>
	</files>
	
	<speech_recognition>
		<!-- test have shown that changing this does not significantly change the time taken to process speech -->
		<sample_rate>44100</sample_rate>
		
		<!-- RMS of audio that must be above to begin recording -->
		<record_start_rms_threshold>8</record_start_rms_threshold>
		<record_start_time_threshold>0</record_start_time_threshold> <!-- DOES NOTHING YET-->
		
		<!-- RMS of audio that must be less than to end recording -->
		<record_end_rms_threshold>3</record_end_rms_threshold>
		<record_end_time_threshold>500</record_end_time_threshold> <!-- milliseconds RMS must be below threshold for -->
		
		<visual_display_time>70</visual_display_time> <!-- time to display recognized speech -->
	</speech_recognition>
	
	<spelling>
		<dictionary>res/spelling/en_ca.dict</dictionary>
	</spelling>
	
	<external_software>
		<rhythmbox>
			<relative_directory>.local/share/rhythmbox/rhythmdb.xml</relative_directory>
		</rhythmbox>
	</external_software>
	
	<weather>
		<!-- Weather information is taken from worldweatheronline.com -->
		<api_key>2a2m2h7324vkr46vwp4n7nd9</api_key>
		<update_frequency>30</update_frequency> <!-- ammount fo time in minutes to wait after each update. If you make this low, please create your own API account -->
		<location>v9l4b9</location> <!-- US Zipcode, UK Postcode, Canada Postalcode, IP address, Latitude/Longitude (decimal degree) or city name -->
	</weather>
	
	<behaviours>
		<behaviours_file>config/behaviours.xml</behaviours_file>
		
		<!-- minimum time between behaviour trigger checks -->
		<minimum_update_period>10</minimum_update_period>
			
		<!-- if a behaviour's update period is not ndefined, this will be used instead -->
		<default_update_period>1000</default_update_period>
	</behaviours>
	
	<logger>
		<!-- Higher number is more verbose. 0 is infinite -->
		<verbosity>0</verbosity>
	</logger>
</config>
