<?xml version="1.0" encoding="utf-8"?>

<config>
	<system>
		<name>Walter</name>
		<version>0.1</version>
		
		<timing>
			<max_fps>30</max_fps>
			<max_frame_skips>5</max_frame_skips>
			<frame_period>1000</frame_period>
		</timing>
	</system>
	
	<arduino>
		<timeout>2000</timeout>
		<data_rate>9600</data_rate>
		
		<min_digital_read_pin>0</min_digital_read_pin>
		<max_digital_read_pin>15</max_digital_read_pin>
		<min_digital_write_pin>0</min_digital_write_pin>
		<max_digital_write_pin>15</max_digital_write_pin>
		
		<min_analogue_read_pin>0</min_analogue_read_pin>
		<max_analogue_read_pin>11</max_analogue_read_pin>
		<min_analogue_write_pin>0</min_analogue_write_pin>
		<max_analogue_write_pin>11</max_analogue_write_pin>
		
		<serial_timeout>1000</serial_timeout>
	</arduino>
	
	<files>
		<object_database>config/database.xml</object_database>
		<taglist>config/tagList.txt</taglist>
		<synthesis_output>synthAudio/speech.wav</synthesis_output>
	</files>
	
	<speech_recognition>
		<!-- test have shown that changing this does not significantly change the time taken to process speech -->
		<sample_rate>44100</sample_rate>
		
		<!-- RMS of audio that must be above to begin recording -->
		<record_start_rms_threshold>10</record_start_rms_threshold>
		<record_start_time_threshold>0</record_start_time_threshold> <!-- DOES NOTHING YET-->
		
		<!-- RMS of audio that must be less than to end recording -->
		<record_end_rms_threshold>2</record_end_rms_threshold>
		<record_end_time_threshold>250</record_end_time_threshold> <!-- milliseconds RMS must be below threshold for -->
	</speech_recognition>
</config>
